<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/custom/dashboard.css" rel="stylesheet">
</head>
<body>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">发布项目</h2>
          <div class="table-responsive">
    <form action="/release/handle-code-release.cgi" method="post" id="form1">
            <table class="table table-bordered table-striped">
              <tr>
                <td>环境</td>
                <td>
                  <span class="label label-danger">测试</span>
                  <a href="?env=online">切换环境</a>
                  <input type="hidden" name="env" id="env" value="test">
                </td>
              </tr>
               {% for field in form %}
               <tr>
                   <td>{{ field.label }}</td>
                   <td>{{ field }}</td>
               </tr>
               {{ field.errors }}
               {% endfor %}
               {% csrf_token %}

              <tr>
                <td>操作</td>
                <td>
                  <input type="button" class="btn btn-primary btn-sm" value="输入" onclick="getProjectVersion()">
                  <input type="button" class="btn btn-primary btn-sm" value="发布" onclick="checkReleaseInfo('form1')">
                </td>
              </tr>
            </table>
          </form>
          </div>
        </div>
</body>
</html>