{% extends "base.html" %}
{% block title %}运维系统{% endblock %}
<h3>{% block headTitle %}{{ title }}{% endblock %}</h3>


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">{{ title }}</h2>
    <div class="table-responsive">
        <form id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-bordered table-striped">

               {% for field in form %}
                  {% if  field.label == '环境' %}
                     <tr><td>{{ field.label }}</td><td>{{ field }}
                        <span id='switch' class="label label-danger">测试</span>
                        <a onclick="switchEnv('release')">切换环境</a>
                     </td></tr>
                  {% else %}
                    <tr><td>{{ field.label }}</td><td>{{ field }}</td></tr>
                  {%endif %}
                  {{ field.errors }}
               {% endfor %}
              <tr>
                <td>操作</td>
                <td>
                  <input type="button" class="btn btn-primary btn-sm" value="输入" onclick="creatReq()">
                  <input id="id_release" type="button" class="btn btn-primary btn-sm" value="发布" onclick="release()">
                {{ username }}{{ is_login }} {{ is_super }}{{ sex1 }}
                </td>
              </tr>
            </table>
          </form>
        <div id="result"></div>
    </div>
    </div>
    {% endblock %}