repos=http://svn.fenqi.d.xiaonei.com/fenqi/renren-fenqi-sales-console
target="/data/resin/workspace"
start_cmd="/opt/start_single_instance_resin.sh 7072 start"
stop_cmd="/opt/start_single_instance_resin.sh 7072 stop"
port="7072"
hosts=(10.4.16.95 10.4.25.31)
proxys=(10.4.16.95 10.4.20.52 10.4.20.54 10.4.25.31)
