repos=http://svn.fenqi.d.xiaonei.com/fenqi/licai/renren-licai-mobile-server/trunk/
target="/data/resin/workspace"
start_cmd="/opt/start_single_instance_resin.sh 9005 start"
stop_cmd="/opt/start_single_instance_resin.sh 9005 stop"
port="9005"
hosts=(10.4.30.145 10.4.30.146 10.4.30.147)
proxys=(10.4.30.145 10.4.30.146 10.4.30.147 10.4.30.148)
