repos=http://svn.fenqi.d.xiaonei.com/fenqi/licai/renren-licai-credit-manager
target="/data/tomcat/workspace"
start_cmd="/opt/tomcat-credit-manager/start_single_tomcat.sh start"
stop_cmd="/opt/tomcat-credit-manager/start_single_tomcat.sh stop"
port="9002"
hosts=(10.4.30.146 10.4.30.148)
proxys=(10.4.30.145 10.4.30.146 10.4.30.147 10.4.30.148)
