repos=http://svn.fenqi.d.xiaonei.com/fenqi/renren-fenqi-shop-platform/trunk
target="/data/resin/workspace"
start_cmd="/opt/start_single_instance_resin.sh 8585 start"
stop_cmd="/opt/start_single_instance_resin.sh 8585 stop"
port="8585"
hosts=(10.4.30.145 10.4.30.146)
proxys=(10.4.30.145 10.4.30.146 10.4.30.147 10.4.30.148)
