repos=http://svn.fenqi.d.xiaonei.com/fenqi/licai/renren-licai-platform/trunk/
target="/data/resin/workspace"
start_cmd="/opt/start_single_instance_resin.sh 9010 start"
stop_cmd="/opt/start_single_instance_resin.sh 9010 stop"
port="9010"
hosts=(10.4.30.145 10.4.30.146)
proxys=(10.4.30.145 10.4.30.146 10.4.30.147 10.4.30.148)
